@model blog_template_practice.Models.Category

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Journable | Posts by Category</title>
    <link rel="stylesheet" type="text/css" href="~/Styles/StyleSheet.css" />

</head>
<body>
    <nav>
        <ul>
            <li><a href="/Content/">Journable Home Page</a></li>
            <li><a href="/Category/">Journable Categories</a></li>
            <li><a href="/Content/Create">Submit Post</a></li>
        </ul>
    </nav>

    <header><h2>@Model.Name Posts</h2></header>
    <main>
        <div>
            @foreach (var post in Model.Contents)
            {
                <h4><a href="/Content/Details/@post.Id">@post.Title</a></h4>
                <p>@post.Body</p>
            <hr />
            }
            <p>

            </p>
        </div>
    </main>
</body>
</html>
