@model IEnumerable<blog_template_practice.Models.Category>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Journable | Home</title>
    <link rel="stylesheet" type="text/css" href="~/Styles/StyleSheet.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/Content/">Journable Home Page</a></li>
            <li><a href="/Category/">Journable Categories</a></li>
            <li><a href="/Content/Create">Submit Post</a></li>
        </ul>
    </nav>

    <header>
        <h1>Journable Categories</h1>
    </header>

    <main>
        <p>
            @foreach (var category in Model)
            {
                <h3><a href="/Category/Details/@category.Id">@category.Name</a></h3>

            }
        </p>
    </main>
</body>
</html>

